@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: .8rem;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.mb-1 {
    margin-bottom: 1rem;
}

header {

    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        img {
            width: 80%;
        }

        ul {
            display: flex;
            width: 60%;

            li {
                margin-right: 1.5rem;
                font-weight: bolder;
                color: $dc-gray;
            }

            li:hover {
                color: $dc-blue;
            }
        }
    }
}

main {
    background-image: url('../img/jumbotron.jpg');
    height: 40rem;
}

footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    overflow: hidden;


    div {
        justify-content: space-between;
        display: flex;


        nav {
            display: flex;
            margin: 3rem 0;
            width: 60%;

            section {
                margin-right: 3rem;
            }
        }

        figure {
            position: relative;
            width: 70%;


            img {
                width: 100%;;
                position: absolute;
                right: 0;
                top: -100px
            }
        }
    }

    a {
        text-decoration: none;
        color: $dc-lightgray;
    }

    h3 {
        font-size: 1.2rem;
        color: white;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: .4rem;
    }

}

